<article class="table-content">
  <div class="box-display animal-font">
    <h4>{{animal.animal_name}} </h4>
  </div>
  <div class="box-display animal-font">
    <h4>{{animal.owned_animal_count}}</h4>
  </div>
</article>