<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodPrint</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin|Alata">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/homepage.css">
  <link rel="stylesheet" href="/stylesheets/farmpage.css">
  <link rel="stylesheet" href="/stylesheets/marketpage.css">
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> old --}} 
</head>

<body>
  <div class="wrapper">
    <header>
      <h2>
        <a href="/">Food Print</a>
      </h2>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <div class="button-container">
          <button type="button" id="logout" class="button">Logout</button>
        </div>
        {{else}}
        <a href="/login" class="text-normal">login</a> 
        {{!-- <a href="/signup" class="text-normal">Sign Up</a>  --}}
        {{/if}}        
      </nav>
    </header>
    <main class="content">
      {{{body}}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>