<div class="form-container">
    <div class="bg-color-dark color-padding box-shadow">
        <form class="bg-color-light color-padding box-shadow">
            <h1 class="text-align text-green text-bold text-aladin text-large text-shadow text-stroke">Start Your Farm!</h1>
            <div class="form-group">
                <input type="text" class="form-control text-align" id="farm-signup" placeholder="Create your farmname" name="farm-signup" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control text-align" id="username-signup" placeholder="Create your username" name="username" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control text-align" id="email-signup" placeholder="Enter your email" name="email" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control text-align" id="password-signup" placeholder="Enter your password" name="pwd" />
            </div>
            <button type="submit" class="button">Sign Up and Get Started!</button>
        </form>
    </div>
</div>

<script src="/javascript/signup.js"></script>