<div class="form-container login-form">
    <div class="bg-color-dark color-padding box-shadow">
        <form class="bg-color-light color-padding box-shadow">
            <h1 class="text-align text-green text-bold text-aladin text-large text-shadow text-stroke">Start Your Farm!</h1>
            <div class="form-group">
                <input type="text" class="form-control text-align" id="user-login" placeholder="Enter your username" name="username" required="required" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control text-align" id="email-login" placeholder="Enter your email" name="email" required="required" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control text-align" id="password-login" placeholder="Enter your password" name="pwd" required="required" />
            </div>
            <button id="btn-login" type="submit" class="button" data-toggle="modal" data-target="#confirmModal">Login and Get Started!</button>
        </form>
        <div class="text-align">
          <a href="/">Back to Sign Up</a>
        </div>
    </div>
</div>

<!-- Login Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalTitle">Happy to have you here!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="confirmBody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="btn-pass" type="button" class="btn btn-sell" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/javascript/login.js"></script>