:root {
    --primary-color: rgb(245, 192, 3);
    --secondary-color: rgb(169, 93, 0);
    --tertiary-color: rgb(255, 230, 196);
    --fourth-color: rgb(110, 194, 7);
    --fifth-color: rgb(119, 119, 121);
    --sixth-color: rgb(246, 139, 63);
    --white: white;
    --black: black;
    --grey: rgb(245, 245, 245); 
}

.box-shadow {
    /* box-shadow: 1px 1px 2px 2px var(--tertiary-color); */
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px var(--primary-color),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.text-aladin {
    font-family: "Aladin";
}

.text-stroke {
    -webkit-text-stroke: 0.01px var(--secondary-color);
}

.text-shadow {
    text-shadow: -1px 0 var(--secondary-color);
}

.text-large {
    font-size: 50px;
}

.text-green {
    color: var(--fourth-color);
}

.text-white {
    color: var(--white);
}

.text-bold {
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body, html {
    font-family: "Alata", Arial, Helvetica, sans-serif;
    text-shadow: -1px 0 var(--secondary-color);
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* HEADER START */
header {
    background: rgb(169, 93, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 3% 0.5% 3%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .1s;
}

a:hover {
color: var(--tertiary-color);
text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    font-size: 20px;
    margin-right: 10%;
}

.header-font {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
    transition: color .1s;
}
/* HEADER END */

/* BODY START */
.content {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1;
    background-image: url("../images/farm_bg.jpg");
    background-size: contain;
    background-position: center;
}

.form-container {
    padding: 2% 4%;
    left: 10%;
    top: 5%;
    width: 50%;
}

.text-align {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-color-dark {
    background: var(--secondary-color);
    opacity: 0.95;
}

.color-padding {
    padding: 10%;
}

.bg-color-light {
    background: var(--tertiary-color);
    margin: 5%;
}

button {
    background-color: var(--primary-color);
    border: 0;
    padding: 1%;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(169, 93, 0, 0.5);
}

/* BODY START */

/* FOOTER START */

footer {
    background-color: var(--grey);
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    color: var(--primary-color);
}

/* FOOTER END */
